@import './SCSS/variables.scss';


.App {
  box-sizing: border-box;
  text-align: center;
  background: whitesmoke;
  background: $baseBlue;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
}

.logo-title {
  cursor: pointer;
  z-index: 4;
  
  div {
    font-family: 'Lobster';
    unicode-bidi:bidi-override; // Reverses text so first-letter selector can grab the "last" letter of the backwards text in the div.
    direction:rtl;
  }

  div::first-letter {
    font-family: 'Lobster', cursive;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    // 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    // sans-serif;
    // font-family: 'Arvo', serif;
    // font-size: 1.5em;
    color: $baseGreen;
    // color: white;
  }  
}

@media only screen and (min-width: $size2) {
    
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
