@import './variables.scss';

.add-on-question-container {
    &-true {
        @include heightWithHeader();
        // @include fadeInEase3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        // border: 10px solid white;
        border-radius: 5px;
        background: whitesmoke;
        z-index: 3;
        transition-duration: $time2;
        animation: fadeIn;
        transition-duration: $time3;
        animation-duration: $time2;
        padding: 10px 8px;
        input {
            width: 65%;
        }
        button {
            font-family: $font1;
            color: $textColor1;
            text-transform: lowercase;
        }
        // transform: translateY(110%);
    }
    &-false {
        @include heightWithHeader();
        // @include fadeInEase3;
        opacity: 0;
        position: absolute;
        width: 100%;
        // border: 4px double black;
        background: whitesmoke;
        z-index: 0;
        transform: translateY(110%);
        transition-duration: $time3;
    }
}


@media only screen and (min-width: $size2) {
    .add-on-question-container {
        &-true {
            margin-top: calc(#{$headerHeight} - 4vh);
            height: calc(94vh - #{$headerHeight});
            width: 45%;
            box-shadow: $shadow1;
            transition-duration: 1000;

        }
        &-false {
            width: 45%;
            box-shadow: $shadow1;
            // @include heightWithHeader();
            // // @include fadeInEase3;
            // opacity: 0;
            // position: absolute;
            // width: 100%;
            // border: 4px double black;
            // z-index: 3;
            // transform: translateY(110%);
            // transition-duration: width 0;
        }
    }
}
