@import './variables.scss';

// .auth-container {         // with route
//     @include heightWithHeader();
//     width: 100%;
//     height: 100%;
//     background: white;
//     @include flexCenter();
//     padding: 0px 8px;
//     color: $textColor1;
//     border: 5px solid orange;
//     position: absolute;
//     clip-path: inset(0% 0% 100% 0%);
//     input {
//         margin-right: .5em;
//         // border: 1px solid white;;
//         // box-shadow: $shadow1;
//         @include inputStyle();
//         padding-left: .5em;
//     }
// }

.auth-container {           // with drop down menu
    margin: 0;
    position: absolute;
    // height: calc(88vh - #{$headerHeight});
    // @include heightWithHeader();
    height: calc(88vh - #{$headerHeight});
    width: 100%;
    // right: 0;
    // top: 100%;
    background: yellow;
    @include flexCenter();
    padding: 0px 8px;
    color: $textColor1;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    // overflow: hidden;
    transition: clip-path .5s ease-out;
    clip-path: inset(0% 0% 0% 50%);
    // box-shadow: $shadow7;
}

// .auth-container {           // with drop down menu
//     position: absolute;
//     height: 50vh;
//     width: 200%;
//     right: 0;
//     top: 100%;
//     background: transparent;
//     @include flexCenter();
//     padding: 0px 8px;
//     color: $textColor1;
//     position: absolute;
//     // left: 0;
//     // top: 0;
//     z-index: 3;
//     overflow: hidden;
//     transition: clip-path .5s ease-out;
//     clip-path: inset(0% 0% 0% 100%);
//     box-shadow: $shadow7;
// }
.auth-box {                 // with drop down menu
    border: 1px solid white;
    // padding: 8px;
    background: whitesmoke;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: $shadow1;
    position: relative;
    z-index: 101;
    button {
        @include buttonStyle1();
        background: white;
    }
    @include fadeInEase3();
    h3 {
        
    }
    .email-container {
        width: 95%;
        // border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .password-container {
        width: 95%;
        // border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .register {
        width: 95%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: .85em;
        button {
            @include buttonStyle1();
            background: white;
        }
    }
    padding: 8px 4px;
}

// .auth-box {                  // with routes
//     border: 1px solid white;
//     // padding: 8px;
//     background: whitesmoke;
//     border-radius: 15px;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     align-items: center;
//     box-shadow: $shadow1;
//     position: relative;
//     z-index: 4;
//     button {
//         @include buttonStyle1();
//         background: white;
//     }
//     @include fadeInEase3();
//     h3 {
        
//     }
//     .email-container {
//         width: 95%;
//         // border: 1px solid black;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//     }
//     .password-container {
//         width: 95%;
//         // border: 1px solid black;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//     }
//     .register {
//         width: 95%;
//         width: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: space-evenly;
//         font-size: .85em;
//         button {
//             @include buttonStyle1();
//             background: white;
//         }
//     }
//     padding: 8px 4px;
// }

@media only screen and (min-width: $size2) {
    .auth-container {           // with drop down menu
        margin: 0;
        position: absolute;
        height: 35vh;
        width: 130%;
        right: -50%;
        top: 100%;
        background: transparent;
        @include flexCenter();
        padding: 0px 8px;
        color: $textColor1;
        position: absolute;
        // left: 0;
        // top: 0;
        z-index: 3;
        overflow: hidden;
        transition: clip-path .5s ease-out;
        clip-path: inset(0% 0% 100% 0%);
        border: 5px solid red;
        // box-shadow: $shadow7;
    }
 
    // .auth-box {                  // with route
    //     // position: absolute;
    //     // right: $headerHeight;
    //     // top: $headerHeight;
    //     width: 30%;
    //     background: white;
    //     box-shadow: $shadow1;
    // }

    .auth-box {                     // with drop down
        // position: absolute;
        // right: $headerHeight;
        // top: $headerHeight;
        h3 {
            margin: 0;
            display: none;
        }
        h4 {
            margin: 0;
            display: none;
        }

        height: 100%;
        width: 100%;
        background: white;
        box-shadow: $shadow1;
    }
}

@media only screen and (min-width: $size3) {
    .auth-container {
    }
    .auth-box {
        align-items: center;
        h3 {
            display: block;
        }

        h4 {
            display: block;
        }
    }
}