@import './variables.scss';

$cartItemHeight: 9vh;

.cart-items-container {
    width: 85%;
    // height: 48%;
    // max-height: 48%;
    // overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: $cartItemHeight;
    // margin-bottom: 15px;
    box-shadow: $shadow1;
    font-size: .6em;
    transition-duration: $time3;
    border-radius: 15px;
    @include fadeInEase3();
    overflow: hidden;
    .cart-item {
        display: flex;
        align-items: center;
        padding: .8em .5em;
        justify-content: space-between;
        border-left: 2px solid whitesmoke;
        border-bottom: 2px solid whitesmoke;
        margin-bottom: .8em;
        margin-right: .5em;
        // border: 2px dotted orange;
        @include fadeInEase3();
        .cart-div {
            // border: 3px solid blue;
            display: flex;
            flex-direction: row;
            width: 90%;
        }
        .item-image {
            // border: 1px dotted purple;
            background: grey;
            margin-right: 10px;
            height: $cartItemHeight - 1vh;
            min-width: $cartItemHeight - 1vh;
            // border: 2px solid green;
        }
    }
    .cart-item-name {
        // border: 2px dotted orange;
        display: flex;
        flex-direction: column;
        text-align: left;
        .item-name {
            font-family: $mainFont;
            text-transform: capitalize;
            font-weight: bold;
            color: black;
        }
        .item-description {
            font-family: $mainFont;
            // margin-left: 2.5em;
            text-align: left;
            font-size: .9em;
            // border: 1px dotted purple;
        }
    }
}

@media only screen and (min-width: $size2) {
    .cart-items-container {
        width: 85%;
        // height: 48%;
        max-height: 48%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        min-height: $cartItemHeight;
        // margin-bottom: 15px;
        // border: 2px solid blue;
        box-shadow: $shadow1;
        .cart-item {
            display: flex;
            align-items: center;
            padding: 0px .5em;
            justify-content: space-between;
            border-left: 2px solid whitesmoke;
            border-bottom: 2px solid whitesmoke;
            margin-bottom: 10px;
            .cart-div {
                // border: 3px solid blue;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            .item-image {
                // border: 1px dotted purple;
                margin-right: 10px;
                height: $cartItemHeight - 1vh;
                width: $cartItemHeight - 1vh;
            }
        }
        .cart-item-name {
            font-family: $mainFont;
            // border: 2px dotted orange;
            display: flex;
            flex-direction: column;
            text-align: left;
            .item-name {
                text-transform: capitalize;
                font-weight: bold;
            }
        }
    }
}