@import './variables.scss';

.customize-container {
    &-true {
        @include heightWithHeader();
        @include flexCenter();
        // @include fadeInEase3();
        position: relative;
        width: 100%;
        background: whitesmoke;
    }
    &-false {
        @include heightWithHeader();
        @include flexCenter();
        // @include fadeInEase3();
        position: relative;
        width: 100%;
        // border: 3px solid blue;

    }
}

.questions-container {
    box-shadow: $shadow1;
    height: 95%;
    width: 95%;
    border-radius: 15px;
    background: whitesmoke;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // background: yellow;
    box-sizing: border-box;
    // font-size: 18px;
    overflow: hidden;
    padding-top: 10px;
    .qc-description {
        margin: 0rem 1rem;
        // color: $textColor1;
        color: black;
        color: $baseGreen;
        text-align: justify;
        font-family: $mainFont;
        font-size: 1rem;
        font-weight: 700;
        // text-align: center;
    }
    &-true {
        height: 90%;
        width: 90%;
        background: white;
        @include fadeInEase3();    
    }
    &-false {
        height: 90%;
        width: 90%;
        background: white;
        opacity: 0;
        transition-duration: $time3;
        animation-timing-function: ease;
        @include fadeInEase3();    
    }
}

.customize-button-container {
    display: flex;
    // justify-content: space-evenly;
    justify-content: flex-end;
    // position: absolute;
    // bottom: 0;
    width: 100%;
    // padding: .5em;
    // z-index: 2;
    // margin-top: 2em;
    height: 2em;
    button {
        width: 50%;
        transition-duration: $time3;
        // background: whitesmoke;
        // font-family: $font1;
        @include buttonStyle1();
        background: $baseGreen;
        padding: 0;
        color: white;
        &:hover {
            svg {
                color: $baseGreen;
            }
        }
    }

    svg {
        height: 100%;
        font-size: 2.5em;
        color: white;
        animation: arrow 1s alternate infinite ease;
    }
}

@keyframes arrow {
    to {
        transform: translateX(0);
    }

    from {
        transform: translateX(1em);
    }
}

.address-city {
    text-transform: capitalize;
    font-weight: bold;
}

@media only screen and (min-width: $size2) {
    .questions-container {
        width: 40%;
        // font-size: 30px;

    }
    .customize-button-container {
        button {
            width: 50%;
            transition-duration: $time3;
            // background: whitesmoke;
            // font-family: $font1;
            @include buttonStyle1();
            font-size: 1em;
        }
    }
}