@import './variables.scss';

.column-container {
    display: none;
}

@media only screen and (min-width: $size2) {
    .column-container {
        background: whitesmoke;
        height: 100%;
        width: 28%;
        padding-right: 1em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .left-column {
        // border: 1px solid black;
       height: 80%;
       width: 100%; 
       max-width: 100%; 
       display: grid;
       grid-template-rows: repeat(4, 1fr);
       position: relative;
       div {
           display: flex;
           justify-content: center;
           align-items: center;
           font-family: $mainFont;
           font-weight: bold;
           font-size: .8em;
           width: 100%;
           max-width: 100%;
           overflow: hidden;
           span {
               overflow: hidden;
               font-weight: 400;
               text-transform: uppercase;
               width: 90%;
               max-width: 90%;
               box-shadow: $shadow1;
               padding: .3em .1em;
               border-radius: .2em;
               font-family: $mainFont;
                // color: black;
                cursor: pointer;
                animation: slideIn .4s ease-out;
                max-height: 2.5em;
                color: grey;

           }
       }
    }

    .div1 {
    //    border: 1px solid black;
       height: 100%;
       width: 100%; 
       display: flex;
       justify-content: center;
       align-items: center;
    }
}

