@import './variables.scss';

.customize-container {
    &-true {
        @include heightWithHeader();
        @include flexCenter();
        // @include fadeInEase3();
        position: relative;
        width: 100%;
        background: whitesmoke;
    }
    &-false {
        @include heightWithHeader();
        @include flexCenter();
        // @include fadeInEase3();
        position: relative;
        width: 100%;
        // border: 3px solid blue;

    }
}

.questions-container {
    box-shadow: $shadow1;
    height: 90%;
    width: 90%;
    border-radius: 15px;
    background: whitesmoke;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    // background: yellow;
    box-sizing: border-box;
    // font-size: 18px;
    .qc-description {
        // font-size: $fontSize1 * 1.5;
        margin: 10px 15px 0px 15px;
        color: $textColor1;
        text-align: left;
        font-family: $font1;
    }
    &-true {
        height: 90%;
        width: 90%;
        background: white;
        @include fadeInEase3();    
    }
    &-false {
        height: 90%;
        width: 90%;
        background: white;
        opacity: 0;
        transition-duration: $time3;
        animation-timing-function: ease;
        @include fadeInEase3();    
    }
}

.customize-button-container {
    // border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    // position: absolute;
    // bottom: 0;
    width: 100%;
    padding: .5em;
    z-index: 4;
    // margin-top: 2em;
    button {
        width: 44%;
        transition-duration: $time3;
        background: whitesmoke;
        // font-family: $font1;
        @include buttonStyle1();
    }
}

.address-city {
    text-transform: capitalize;
}

@media only screen and (min-width: $size2) {
    .questions-container {
        width: 40%;
        // font-size: 30px;

    }
    .customize-button-container {
        button {
            width: 44%;
            transition-duration: $time3;
            background: whitesmoke;
            // font-family: $font1;
            @include buttonStyle1();
            font-size: 1em;
        }
    }
}