@import './variables.scss';


.custom-where-container {
    display: none;
}

.dot {
    transition-duration: $time2;
}

@media only screen and (min-width: $size2) {
    .custom-where-container {
        height: 90%;
        width: 5%;
        // border: 3px dotted orange;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    .dot-line {
        // border: 1px solid black;
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        div {
            height: 80%;
            // border-right: 2px solid $baseBlue3;
            // border-top: 2px solid $baseBlue3;
            // border-bottom: 2px solid $baseBlue3;
            border-radius: 10px;
            width: 50%;
            z-index: 0;
            box-shadow: 3px 0px 2px grey;

        }
    }   

    .dot {
        // border: .1em solid grey;
        box-shadow: 0px 0px 3px 2px grey;
        border-radius: 50%;
        background: $baseBlue3;
        z-index: 1;

        // box-shadow: $shadow1;
    }
}