@import './variables.scss';








@media only screen and (min-width: $size2) {

    .dash-main {
        margin-top: 12vh;
        height: 88vh;
        width: 45%;
        // background: purple;
    }
}