@import './variables.scss';

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: $size2) {
    .dashboard-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: $headerHeight;
        background: whitesmoke;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding-right: 2%;
        // height: auto;
        
    }
    
    .dashboard-body {
        display: grid;
        grid-template-columns: 30% 45% 25%;
        // flex-direction: row;
        width: 100%;
        height: 100%;
        height: calc(100vh - #{$headerHeight});
        justify-content: space-evenly;
        // height: calc(100vh - #{$headerHeight} - #{$headerHeight});
        // align-items: center;
        // padding-bottom: .5%;
        // padding: 0 9% .5% 9%;
        
        .body-col {
            width: 100%;
            height: 100%;
        height: calc(100vh - #{$headerHeight});

        }
        
    }
    
    .forecast {
        box-sizing: border-box;
        width: 100%;
        position: relative;
        background: transparent;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        height: 100%;
        // justify-content: center;
        // align-items: center;
    }
    
    #weather-forecast {
        // height: auto;
        width: 100%;
        // padding-top: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        // border-radius: 50%;
        background: #F5F5F5;
        position: relative;
        // z-index: 2;
        .forecast-top {
            height: 50%;
            // border: 1px solid blue;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5%;
            // .blue-circle {       // todo - make circle again.
            //     position: absolute;
            //     height: auto;
            //     width: 90%;
            //     padding-top: 90%;
            //     background: linear-gradient(to top left, #5d76a99f, #5d76a99f, whitesmoke, whitesmoke);
            // border-radius: 50%;
            // }
            // .forecast-circle {
            //     box-shadow: $shadow1;
            //     position: relative;
            //     height: auto;
            //     width: 70%;
            //     padding-top: 70%;
            //     // border-radius: 50%;
            //     overflow: hidden;
            //     border-radius: 50%;
            // }
            .forecast-circle {  // todo - delete when circle
                // border: 1px solid blue;
                height: 100%;
                width: 100%;
                // padding: 5%;
                position: relative;
            }
        }
        .forecast-bottom {
            height: 50%;
            max-height: 50%;
            padding: 10px;
            padding-top: 0px;
            z-index: 3;
            width: 85%;
            margin-left: 5%;
            .forecast-bottom-container {
                display: grid;
                grid-template-rows: 1.3fr 1fr 1fr 1fr 1fr;
                background: white;
                box-shadow: $shadow1;
                z-index: 3;
                padding-bottom: 8px;
                .forecast-row {
                    display: flex;
                    align-items: center;
                    padding: 0px 10px;
                    .forecast-icon {
                        height: auto;
                        width: 20%;
                    }
                    .forecast-text {
                        background: #F5F5F5;    
                        width: 100%;
                        font-size: 1.9vh;
                        height: 90%;
                        text-align: start;
                        padding: 12px 15px;
                        display: flex;
                        align-items: center;

                        h6 {
                            margin: 0;
                            font-size: 2vh;
                            font-weight: 700;
                        }
                    }
                }
            
                .weather-board {
                    // max-height: 25%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    // padding: 3px 0px;
                    padding-right: 15px;
                    .weather-icon {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        margin-top: -4%;
                    }
                    .min-max {
                        font-size: .7em;
                        margin-top: -12px;
                        // margin-bottom: 5px;
                    }
                    .current-temp {
                        font-weight: 700;
                        font-size: 1.3em;
                        margin-left: -5px;
                    }
                    .precip {
                        align-items: center;
                        span {
                            font-size: .9em;
                        }
                        svg {
                            font-size: 4vh;
                            fill: #4b9cd391;
                        }
                    }
                    .wind {
                        align-items: center;
                        svg {
                            font-size: 1.15em;
                        }
                        span {
                            font-size: .9em;
                        }
                    }
                    .img-container {
                        height: 70%;
                        border: 1px solid black;
                    }
                    img {
                        height: 7vh;
                        // background: grey;
                        transform: scale(1.5);
                    }
                }
            }
        }
        // img {
        //     position: absolute;
        //     height: 7vh;
        // }
        #weather-icon1 {
            right: 10px;
            z-index: 3;
            transform: translate(-80%, 350%);
        }
        #weather-icon2 {
            right: 10px;
            z-index: 3;
            transform: translate(-20%, 200%);
            opacity: 80%;
        }
        #weather-icon3 {
            right: 10px;
            z-index: 3;
            opacity: 55%;

        }
        #weather-icon4 {
            transform: translate(-20%, -200%);
            right: 10px;
            z-index: 3;
            opacity: 40%;

            
        }
        #weather-icon5 {
            transform: translate(-80%, -350%);
            right: 10px;
            z-index: 3;
            opacity: 20%;

        }

    }



    #next-forecast {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        box-shadow: $shadow1;
        height: 95%;
        header {
            background: green;
            color: white;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                font-size: 3vh;
                font-weight: 600;
            }
        }
        .next-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 90%;
            p {
                height: 50%;
            }
        }
    }

    .dash-main {
        border: 3px solid black;
        height: 100%;
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 10px;
        .main-module {
            grid-column: 1 / 3;
            grid-row: 1 / 4;
            width: 100%;
            .carousel {
                height: 90%;
                width: 100%;
            }
            .module-nav {
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                button {
                    height: 1rem;
                    width: 1rem;
                    border: 3px solid blue;
                    cursor: pointer;
                }
            }
        }
        .second-module {
            grid-row: 4 / 6;
            border: 1px dotted purple;
            
        }
        .third-module {
            grid-row: 4 / 6;
            border: 3px dotted orange;
        }
        // height: 100px;
        // width: 100px;
    }

    .dash-module {
        border: 1px solid red;
        height: 100%;
        width: 100%;
        transition-duration: $time1;
        position: relative;
    }

    .dash-mosquitoes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        max-width: 100%;


    }

    .dash-alerts {
        background: lightgreen;
    }

    .dash-spiders {
        background: tan;
    }

}