@import './variables.scss';

.footer-container {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    // background: $baseBlue;
    position: relative;
    // padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    h2 {
        margin: 0;
        // font-size: 1.5em;
    }
}

.footer-header {
    height: $headerHeight;
    @include flexCenter();
}

.footer-nav-bar {
    font-family: $font1;
    color: $textColor1;
    color: white;
}

.footer-columns {
    display: flex;
    justify-content: space-evenly;
}

.footer-blog-nav {
    height: 22%;
}

.social-media-nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}

@media only screen and (min-width: $size2) {
    
  .footer-container {
      height: 33vh;
  }

  .social-media-nav {
      width: 30%;
  }
}