@import './variables.scss';

.google-find-container {
    // border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    // width: 100%;
    input {
        @include inputStyle();
        padding-left: 5px;
        width: 82%;
        text-align: center;
        font-size: .9em;
    }
}

.autocomplete-dropdown-container {
    margin-bottom: .5em;
    width: 105%;
    box-shadow: $shadow1;
    transition-duration: $time3;
    border-radius: 5px;
    z-index: 5;
    position: absolute;
    top: 100%;
}

.suggestion-item--active {
    border: 2px solid whitesmoke;
    background: $baseGreen;
    border-radius: 5px;
    background: $baseBlue3;
    padding: .52em 0;
}

.suggestion-item {
    padding: .52em 0;
    border-radius: 5px;
    border: 2px solid whitesmoke;
}


@media only screen and (min-width: $size2) {
    .autocomplete-dropdown-container {
        width: 65%;
    }

    .google-find-container {
        input {
            width: 55%;
        }
    }

}

// #mapid {
//     height: 100%;
//     border: 5px solid blue;
// }

// #mymarker {
//     fill: blue;
//     stroke: blue;
// }