@import './variables.scss';

.header-container {
    // @include fadeInEase1();
    height: $headerHeight;
    // background: $baseBlue;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // font-size: .7em;
    padding: 0 1em 0 0;
    position: absolute;
    z-index: 2;
    // transition-duration: $time2;
    // transition-duration: background 1000ms;
    // border: 1px solid red;
    top: 0;
    // box-shadow: $shadow1;
    transition: background-color $time2 ease;
    
    h2 {
        // font-size: 24px;
        font-family: 'Lato', sans-serif;
        color: white;
        font-weight: 1000;
    }

    
}

.menu-icon {
    svg {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        font-size: 36px;
        z-index: 10;
    }
    &:focus {
        @include spinAnimation1();
    }
}

@media only screen and (min-width: $size2) {


    .menu-icon {
        display: none;
    }  
    
    .header-container {
        font-family: $font1;
        font-weight: bold;
        color: white;
        padding: 0vh 7vw;
        align-items: center;
        // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705));
        // box-shadow: $shadow1;
        background: linear-gradient(to top, whitesmoke,  rgba(97, 147, 167, 0.2), rgba(97, 147, 167, 0.4), rgba(97, 147, 167, 0.6), rgba(97, 147, 167, 0.8));
    }
}
