@import './variables.scss';

.header-container {
    height: $headerHeight;
    width: 100%;
    max-width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    padding: 0 1em;
    position: absolute;
    z-index: 2;
    transition-duration: $time2;
    // border: 1px solid red;
    top: 0;
    h2 {
        font-size: 24px;
        font-family: 'Lato', sans-serif;
        color: white;
        font-weight: 1000;
    }
    .web-sign-in {
        display: none;
    }
}

.menu-icon {
    &:focus {
        @include spinAnimation1();
    }
}

@media only screen and (min-width: $size2) {
    .menu-icon {
        display: none;
    }  
    
    .header-container {
            font-family: $font1;
            font-size: .9em;
            font-weight: bold;
            color: white;
            // padding: 0vh 32vh;
            padding: 0vh 17vw;
        .web-sign-in {
            // font-size: .7em;
            margin-top: .9em;
            font-weight: bold;
            display: inline;
            // background: none;
            border: none;
            color: white;
            text-transform: lowercase;
        }
        .web-user-email {
            margin-top: .9em;
        }
    }

    
}
