@import './variables.scss';

.home-question-container {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    // border: 1px solid yellow;
    // margin-top: 10%;
    @include fadeInEase1();
    @include textStyle1();
    // border: 5px dotted orange;

    .home-question-address {
        // height: 15%;
        // border: 3px dotted blue;
        width: 100%;
        // margin-top: 5%;
        // border: 2px dotted orange;
        button {
            @include fadeInEase1();
            transition-duration: $time3;
            background: none;
            border-color: $baseGreen;
            max-height: 3.5em;
            overflow: auto;
            color: $textColor1;
            // color: grey;
            // font-weight: 600;
            // @include textStyle1();
            // box-shadow: $shadow2;
            position: relative;
            padding-left: 2.7em;
            text-align: right;
            font-size: .8em;
            &:hover {
                .edit-icon {
                    border-color: rgb(182, 182, 182);
                    color: rgb(182, 182, 182);
                }
            }
            .edit-icon {
                transition-duration: $time3;
                font-size: 2em;
                margin: 0px 10px 0px 0px;
                // border: 2px solid $baseBlue3;
                // border: 2px solid $textColor1;
                border: 2px solid lightgrey;
                border-radius: 5px;
                // color: $baseBlue3;
                // color: $textColor1;
                color: lightgrey;
                position: absolute;
                left: 5px;
                // box-shadow: $shadow3;
            }
        }
        
        .add-input-container {
            @include fadeInEase1();
            // border: 1px solid black;
        }
    }

    .home-question-size {
        // border: 1px solid black;
        height: 70%;
        width: 90%;
        h3 {
            @include fadeInEase1();
        }
        div {
            @include fadeInEase1();
        }
    }
}

.home-question-size-options {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    div {
        @include hoverShadow2();
        cursor: pointer;
        transition-duration: $time-5;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        // padding: .5em;
        justify-content: center;
        border-radius: 10px;
        height: 13vh;
        width: 13vh;
        
        .home-size-text {
            font-size: .75em;
            color: $textColor1;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: $size2) {
    .home-question-container {
        .home-question-address {
            // height: 12%;
        }
    }
}