
@import './variables.scss';

.home-question-container {
    display: grid;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: fadeIn;
    animation-duration: 250ms;
    display: flex;
    flex-direction: column;

    .home-question-address {
        height: 45%;
        width: 90%;
        border: 1px solid black;
    }

    .home-question-size {
        height: 45%;
        width: 90%;
        border: 1px solid black;
    }
}

.home-question-size-options {
    // border: 1px solid black;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    div {
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}