@import './variables.scss';

// #house-data {            // Reference for info divs
//     position: absolute;
//     left: 100%;
//     top: 0;
//     border: 10px solid black;
//     height: 100%;
//     width: 70%;
//     background: white;
//     z-index: 10;
// }

#house-data {
    position: relative;
    // left: 100%;
    // top: 0;
    // border: 5px solid orange;
    height: 80%;
    width: 100%;
    // background: white;
    z-index: 1;
    font-size: .9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // padding-left: 10px;
    font-family: sans-serif;
    margin-top: .6em;
    // @include flexCenter();
    // border: 1px solid black;
}

.google-container {     // Google Map is absolutely positioned inside.
    // width: 35vh;
    // height: 35vh;
    height: 100%;
    width: 100%;
    position: relative;
    // .map-square-feet {
    //     position: absolute;
    //     top: 0;
    //     left: 5%;
    //     z-index: 5;
    //     width: 90%;
    //     height: 10%;
    //     background: rgba(245, 245, 245, 0.93);
    //     border-radius: 15px 15px 0px 0px;
    //     border: .1em solid whitesmoke;
    //     padding: .2em;
    //     .number {
    //         // border: 1px solid blue;
    //         font-size: .8em;
    //         span {
    //             color: $baseGreen;
    //             font-weight: bold;
    //         }
    //     }
    // }
    .map-square-feet {
        position: absolute;
        top: 0;
        left: 5%;
        z-index: 5;
        width: 90%;
        height: 10%;
        background: rgba(245, 245, 245, 0.93);
        border-radius: 15px 15px 0px 0px;
        border: .1em solid whitesmoke;
        padding: .2em .5em;
        display: flex;
        justify-content: center;
        align-items: center;
        .first {
            // text-transform: uppercase;
            margin-right: .4em;
        }

        .number {
            // border: 1px solid blue;
            // font-size: .8em;
            span {
                color: $baseGreen;
                font-weight: bold;
            }
        }
    }
}