@import './variables.scss';

.main-section {
    min-height: 85vh;
    width: 100%;
    padding: 1em;
    // padding-bottom: 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // font-family: 'Roboto', sans-serif;
    font-family: $bodyFont;
    h2 {
        font-size: 7vh;
        font-weight: 800;
    }
    p {
        font-size: 16px;
    }

    // &:nth-last-child(2n) {
    //     background: $baseGreen;
    //     color: white;
    // }
    // &:nth-last-child(2n+1) {
    //     .mobile-title {
    //      color: $baseGreen;   
    //     }
    // }
    
    .mobile-title {
        margin-bottom: .5em;
        font-weight: 700;
    }


    .web-title {
        display: none;
    }

    .section-body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 75vh;
        width: 100%;
        // border: 1px solid blue;
        .section-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: auto;
            white-space: pre-line;
            // border: 1px solid yellow;
            // padding: 0em 0em;
            .section-button-container {
                display: flex;
                width: 100%;
                justify-content: center;
                margin-top: .8em;
                button {
                    // background: $baseGreen;
                    // background: white;
                    // color: white;
                    // color: black;
                    // border-color: $baseGreen21;
                    // background: $baseGreen18;
                    font-weight: 600;
                    &:nth-child(2n) {
                        // background: $baseYellow;
                        background: $baseGreen;
                        color: white;
                        font-weight: 800;
                        margin-left: 10%;

                    }
                    outline: none;
                    font-family: $mainFont;
                    font-size: 1.15em;
                    // font-weight: 800;
                    padding: .7em;
                    // border-radius: 2em;
                    border-radius: $corners;
                    // border: .1em solid $baseGreen21;
                    border: 1px solid white;
                    box-shadow: $shadow1;
                    transition-duration: $time1;
                    cursor: pointer;
                    &:hover {
                        filter: brightness(1.2);
                    }
                }
            }
            p {
                // font-size: 14px;
                text-align: center;
                font-weight: 400;
                // margin: 0em 3em;
            }
        }
    
        img {
            height: 50%;
            width: 90%; 
            border-radius: 15px;
        }
    }
}

@media only screen and (min-width: $size2) {
    .main-section {
        height: 53vh;
        min-height: 53vh;
        // width: 70%;
        // background: whitesmoke;
        padding: 1em 5em;
        // border-top: 1em solid whitesmoke;

        &:nth-last-child(2n+1) {
            // background: linear-gradient(to left, transparent 0%, transparent 30%, $baseGreen 30%, $baseGreen 100%);
            // color: white;
            // width: 90%;
            background: $baseGreen23;
        }
    
        
        &:nth-last-child(2n) {
            // background: linear-gradient(to right, rgb(238, 238, 238) 0%, rgb(238, 238, 238) 30%, $baseGreen 30%, $baseGreen 100%);
            // color: white;
            background: #DDFFDF;
        }

        &:nth-last-child(3n) {
            // background: linear-gradient(to right, rgb(238, 238, 238) 0%, rgb(238, 238, 238) 30%, $baseGreen 30%, $baseGreen 100%);
            // color: white;
            // background: $baseGreen23;
            background: #F7FFF9;
        }

        .web-title {
            display: inline-block;
            margin: 0em .5em;
        }
        .mobile-title {
            display: none;
        }
        .section-body {
            height: 100%;
            flex-direction: row;
            justify-content: center;
            padding: 0 3em;
            // border: 1px solid blue;
            .section-text {
                .section-button-container {
                    margin-top: none;
                    margin-bottom:  5px;
                    // border: 1px solid purple;
                    button {
                        padding: 1em;
                    }
                }
                width: 65vh;
                min-width: 45vh;
                height: 45vh;
                p {
                    font-size: 2.5vh;
                    margin: 0em 2em;
                }

            }
            img {
                margin: 0px 50px;
                height: 45vh;
                width: 65vh;
            }
        }
        .section-body.right {
            flex-direction: row-reverse;
        }
    }
}