@import './variables.scss';

.mobile-menu {
  &-true {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    // height: 100vh;
    // max-height: 100vh;
    height: calc(100vh - #{$headerHeight});
    width: 100%;
    background: grey;
    z-index: 5;
    position: absolute;
    // left: -100%;
    // transform: translateX(100%);
    animation: fadeIn;
    transition-duration: $time2;
    animation-duration: $time2;
    padding-top: $headerHeight;
  }
  &-false {
    position: absolute;
    opacity: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    background: grey;
    z-index: 4;
    transform: translateX(100%);
    transition-duration: $time2;
    padding-top: $headerHeight;
  }
}

.mm-top-container {
  // box-shadow: $shadow1;
  border-bottom: 1px solid white;
  background: whitesmoke;
  // border-radius: 5px;
}
.mm-middle-container {
  // border: 1px solid grey;
  // box-shadow: $shadow1;
  background: whitesmoke;
  // border-radius: 5px;
}


.mm-bottom-container {
    border-top: 1px solid white;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    button {
      font-family: $font1;
      color: $textColor1;
      text-transform: lowercase;
    }
}

@media only screen and (min-width: $size2) {
    
  .mobile-menu {
    &-true {
      display: none;
    }
    &-false {
      display: none;
    }
  }
}