@import './variables.scss';

#reviews-section {
    background: white;
    height: auto;
    min-height: auto;
    h2 {
        margin-top: 5px;
        margin-bottom: 25px;
        font-size: 5.5vh;
        color: #203864;
    }
    margin-bottom: 20px;
}

.reviews-body {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 10vw;
    padding-right: 10vw;
}

.review {
    // border: 1px solid black;
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $blue13;
    box-shadow: $shadow1;
    border-radius: 15px;
    // overflow: auto;
    padding: 1%;
    p {
        font-size: 1.6vh;
        overflow: auto;
        // border: 1px solid purple;
        height: 70%;
    }
    h3 {
        font-size: 18px;
        // border: 1px solid purple;
        height: 15%;
    };
    .stars {
        // border: 1px solid purple;
        height: 15%;
    }
    svg {
        font-size: 28px;
    }

}

@media only screen and (min-width: $size2) {
  
}