
// $baseGreen1: #ACE1AF; // Celadon
$baseGreen1: #4bdd53; // Celadon Bright
// $baseGreen100: #9aca9c; // Celadon (darker)
$baseGreen2: lightgreen; // Lightgreen
$baseGreen3: #8FBC8B; // Dark Sea Green
$baseGreen4: #71BC78; // Fern
$baseGreen5: #76ff76; // Pale Green // Ty's choice
// $baseGreen5: #76ff76; // Pale Green // Ty's choice
// $baseGreen5: #98FB98; // Pale Green
$baseGreen6: #50C878; // Paris Green
$baseGreen7: #D0F0C0; // Tea Green
$baseGreen8: #DADD98; // Green Earth
$baseGreen9: #A9BA9D; // Laurel Green
$baseGreen10: #3EB489; // Mint
$baseGreen11: #00CE0B; 
$baseGreen12: darkseagreen; 
$baseGreen13: mediumseagreen; 
$baseGreen14: lightseagreen; 
$baseGreen15: #54C285; 
// TYLER GREEN
$baseGreen16: #57C675; 
$baseGreen17: #40AD66; 
$baseGreen18: #49C182; 
$baseGreen19: #12565C; 
$baseGreen20: #207042; 
$baseGreen21: #1E603C; 
$baseGreen22: #42BE7D; 
$baseGreen23: #4CCC7D; 

// $baseGreen: $baseGreen1; // MAIN GREEN //
// $baseGreen: $baseGreen5; // MAIN GREEN //
// $baseGreen: $baseGreen5; // MAIN GREEN //
// $baseGreen: $baseGreen11; // MAIN GREEN //
$baseGreen: $baseGreen15; // MAIN GREEN //

$blue1: #F0F8FF; // AliceBlue
$blue2: #6CB4EE; // Argentinian Blue
$blue3: #7CB9E8; // Aero
$blue4: #72A0C1; // Air Superiority Blue / Icons
$blue5: #89CFF0; // Baby blue
$blue6: #5072A7; // Blue Yonder // +
$blue7: #6699CC; // Blue-Gray
$blue8: #4B9CD3; // Carolina Blue
$blue9: #B9D9EB; // Columbia Blue / Background
$blue10: #5D76A9; // Grizzlies Blue
$blue11: #E1EBEE; // Marian Blue
$blue12: #B0C4DE; // Light Steel Blue / Background
// TYLER BLUE
$blue13: #203864;


$grey1: darkslategrey;
$grey2: rgb(238, 238, 238);

$red1: #6E0D25;
$red2: #A13034;
$red3: #6E0D25;
$red4: #6E0D25;
$red5: #6E0D25;
$red6: #6E0D25;
$red7: #6E0D25;
$red8: #6E0D25;
$red9: #6E0D25;
$red10: #6E0D25;
$red11: #660000; // Blood Red
$red12: #800020; // Burgundy
$red13: #A52A2A; // Auburn
$red14: #58111A; // Chocolate Cosmos
$red15: #97233F; // AZ Cardinals Red
$red16: #A50021; // Madder
$red17: #A51C30; // Harvard Crimson

$yellow1: #eeff1b;
$yellow2: #ffff31;
$yellow3: #fbec5d; // 1
$yellow4: #ffe135; // 2
$yellow5: #ffc40c; // 1
$yellow6: #ffffe0;
$yellow7: #fada5e; // 0
$yellow8: #f6d348; // 0
$yellow9: #f6c738; // 0

$orange1: #e25822; // flame
$orange2: #cc5500; // burnt orange


$baseYellow: $yellow9;

// $baseBlue: $blue6; // Header/Footer - Main Blue
// $baseBlue: $blue10; // Header/Footer - Main Blue
$baseBlue: $grey1; // Header/Footer - Main Blue
// $baseBlue: $blue11; 
// $baseBlue: $blue12; // Overlay Blue
$baseBlue2: $blue4; // Some icons - Secondary Blue
$baseBlue3: $blue12; // Some icons - Another Secondary Blue
$baseGrey: $grey2;

$unselected: $baseGrey;

$whiteSmokeHover: rgb(228, 228, 228);
// $whiteSmokeHover: #f5f5f5;

$mainAccent: rgb(255, 193, 78);

$textColor1: #2f4f4f;
$textColor2: black;

$corners: 50px;

$time-5: 125ms;
$time1: 250ms;
$time2: 400ms;
$time3: 550ms;

$size1: 360px;
$size2: 768px;
$size3: 1399px;
// $size3: 360px;

$fontSize1: 1em;

$sectionSize: 40vh;
$sectionHeader: 8vh;

$font1: 'Regular', Arial, sans-serif;
$font4: 'Raleway', sans-serif;
$font2: 'Yanone Kaffeesatz', sans-serif;
$font3: 'Roboto Helvetica', arial, sans-serif;
$font5: 'Poppins', sans-serif;
$font6: 'Karla', sans-serif;

$mainFont: $font5;
$bodyFont: $font6;

$shadow1: 0px 1px 5px grey;
$shadow2: 0px 1px 5px $textColor1;
$shadow3: .5px .5px 2px $textColor1;
$shadow4: 0px 0px 4px grey;
$shadow5: 0px 1px 5px $whiteSmokeHover;
$shadow6: 0px 1px 5px $baseGreen;
$shadow7: 1px 2px 20px 0px grey;
$shadow8: 0px -1px 5px grey;

$headerHeight: 12vh;
$boxHeight: 45vh;

.open {
    clip-path: inset(-20% -20% -20% -20%);
    pointer-events: all;
}

@mixin heightWithHeader() {
    margin-top: $headerHeight;
    height: calc(88vh - #{$headerHeight});
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes backgroundFadeIn {
    // 0% {background-color: $blue4}
    0% {background-color: transparent}
    100% {background-color: auto}
}


@mixin fadeInBackground() {
    animation: backgroundFadeIn;
    animation-duration: 100ms;
    animation-timing-function: linear;
}

@keyframes spin1 {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

@keyframes slide1 {
    0% {transform: translateX(-100px)}
    100% {transform: translateX(0px)}
}

@keyframes slideFade1 {
    0% {
        transform: translateY(-80px);
        opacity: 0;
        color: darkgreen;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
        color: white;
    }
}

@keyframes slideIn {
    0% {margin-left: 100%; width: 0%}
    // 90% {margin: 0; width: 90%;}
    100% {margin-left: 0; width: 90%}
}

@mixin slideIn1() {
    animation: slide1;
    animation-duration: $time3;
    animation-timing-function: linear;
}

@mixin slideFade1() {
    animation: slideFade1;
    animation-duration: $time3;
    animation-timing-function: linear;
}

@mixin fadeInEase1() {
    animation: fadeIn;
    animation-duration: $time1;
    animation-timing-function: ease;
}

@mixin fadeInEase3() {
    animation: fadeIn;
    animation-duration: $time3;
    animation-timing-function: ease;
}


@mixin spinAnimation1() {
    animation: spin1;
    animation-duration: $time1;
    animation-timing-function: linear;
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin textStyle1() {
    // font-family: $font1;
    font-family: $mainFont;
    // color: $textColor1;
    color: black;
}

@mixin textStyle2() {
    font-family: $font2;
    color: $textColor1;
    font-size: 1.3em;
}

@mixin buttonStyle1() {
    @include textStyle1();
    text-transform: lowercase;
}

@mixin inputStyle() {
    // font-size: .9em;
    height: 2em;
    border: none;
    box-shadow: $shadow1;
    transition-duration: $time3;
    border-radius: 3px;
    &:focus {
        transform: scaleX(1.1);
    }
}

@mixin hoverShadow1() {
    &:hover {
        box-shadow: $shadow1;
    }
}

@mixin hoverShadow2() {
    &:hover {
        // transition-duration: $time-5;
        box-shadow: $shadow4;
    }
}