@import './variables.scss';

.web-menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 90%;
    background: whitesmoke;
    border-radius: 15px;
    color: white;
    // height: 0%;
    overflow: hidden;
    transition-duration: .5s;
    clip-path: inset(0% 0% 100% 0%);
    box-shadow: $shadow7;
    button {
        cursor: pointer;
        transition-duration: $time-5;
        padding: .8em 1em;
        color: black;
        border: 1px solid $whiteSmokeHover;
        // border: 1px solid $baseGreen;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .web-menu-button-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: right;
        }
        .web-menu-text {
            font-family: $mainFont;
            font-size: .7em;
            font-weight: 700;
            text-align: left;
        }
        .web-menu-subtext {
            font-family: $mainFont;
            font-size: .7em;
        }
        svg {
            font-size: 1.4em;
        }
        &:hover {
            z-index: 1;
            box-shadow: $shadow5;
            box-shadow: $shadow6;
            // border-color: $whiteSmokeHover;
            // background: $whiteSmokeHover;
            border-color: $baseGreen;
            background: $baseGreen;
            color: white;
            svg {
                fill: white;
            }
        }
        &:focus {
            outline: none;
            background: $baseGreen;
            color: white;
            svg {
                fill: white;
            }
        }
    }
    &:nth-child(1) {
        border: none;
    }
}



@media only screen and (min-width: $size2) {

}
