@import './variables.scss';

.web-nav {
    display: none;
}

#web-nav-bar {
    color: white;
    // margin-right: 40%;

}

@media only screen and (min-width: $size2) {
    .web-nav {
        display: flex;
        min-width: 285px;
        margin-left: 4%;
        margin-right: auto;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        button {
            background: none;
            // border: none;
            box-shadow: none;
            font-family: $font1;
            font-size: 2vh;
            text-transform: lowercase;

            &:hover {
                background: $baseGreen;
            }
        }
    }
}