@import './variables.scss';

.who-question-container {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    div {
        border: 1px solid black;
    }
    @include fadeInEase1();
}