@import './variables.scss';

.who-question-container {
    display: grid;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    div {
        border: 1px solid black;
    }
    animation: fadeIn;
    animation-duration: 250ms;
}